/* ==================================================
   GENERAL
================================================== */

html {
    height: 100%;
    overflow: auto;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    color: var(--dark-gray);
    background: var(--light);

    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
}

::selection {
    background: var(--primary);
    color: var(--light);
}

::-moz-selection {
    background: var(--primary);
    color: var(--light);
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--dark);
    transition: color 75ms linear;
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

/* ==================================================
   Default Typography
================================================== */

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

h1,
h2,
h3 {
    font-size: 3em;
    line-height: 60px;
    margin: 0 0 20px 0;
    letter-spacing: -1px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 38px;
}

h3 {
    font-size: 32px;
    line-height: 32px;
}

/* ==================================================
   THEME
================================================== */

.theme {
    // timings
    --transition-time: 250ms;
    --tooltip-transition-time: 100ms;
    --tooltip-delay: 75ms;

    --primary: hsl(206, 100%, 42%);
    --primary-light: hsl(206, 100%, 53%);
    --primary-dark: hsl(206, 100%, 31%);

    // auto dark
    --primary-lighter: hsl(206, 100%, 64%);
    --primary-darker: hsl(206, 100%, 20%);

    --light: hsl(0, 0%, 13%);
    --lightish: hsl(0, 0%, 23%);
    --gray: hsl(0, 0%, 60%);
    --dark-gray: hsl(0, 0%, 93%);
    --dark: hsl(0, 0%, 100%);

    --countdown-text: var(--dark-gray);

    transition: color var(--transition-time) linear, background-color var(--transition-time) linear, border-bottom-color var(--transition-time) linear, border-left-color var(--transition-time) linear, border-top-color var(--transition-time) linear, border-right-color var(--transition-time) linear;

    // forced dark
    &.dark {
        --primary-lighter: hsl(206, 100%, 64%);
        --primary-darker: hsl(206, 100%, 20%);
        --light: hsl(0, 0%, 13%);
        --lightish: hsl(0, 0%, 23%);
        --gray: hsl(0, 0%, 60%);
        --dark-gray: hsl(0, 0%, 93%);
        --dark: hsl(0, 0%, 100%);
        --countdown-text: var(--dark-gray);
    }

    // forced light
    &.light {
        --primary-lighter: hsl(206, 100%, 64%);
        --primary-darker: hsl(206, 100%, 20%);

        --light: hsl(0, 0%, 100%);
        --lightish: hsl(0, 0%, 93%);
        --gray: hsl(0, 0%, 93%);
        --dark-gray: hsl(0, 0%, 60%);
        --dark: hsl(0, 0%, 13%);

        --countdown-text: var(--light);
    }
}

@media (prefers-color-scheme: light) {
    .theme {
        --primary-lighter: hsl(206, 100%, 64%);
        --primary-darker: hsl(206, 100%, 20%);
        --light: hsl(0, 0%, 100%);
        --lightish: hsl(0, 0%, 93%);
        --gray: hsl(0, 0%, 93%);
        --dark-gray: hsl(0, 0%, 60%);
        --dark: hsl(0, 0%, 13%);

        --countdown-text: var(--light);
    }
}

//region Theme Classes
.text-light {
    color: var(--light);
}

.text-gray {
    color: var(--gray);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.text-dark {
    color: var(--dark);
}

.text-primary {
    color: var(--primary);
}

.text-primary-light {
    color: var(--primary-light);
}

.text-primary-dark {
    color: var(--primary-dark);
}

.text-primary-lighter {
    color: var(--primary-lighter);
}

.text-primary-darker {
    color: var(--primary-darker);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
}

.bg-primary-lighter {
    background-color: var(--primary-lighter);
}

.bg-primary-darker {
    background-color: var(--primary-darker);
}

.bg-gray {
    background-color: var(--gray);
}

//endregion


/* ==================================================
   Global Styles
================================================== */

.aria-tooltip {
    position: relative;

    &::after {
        content: attr(aria-label);
        position: absolute;
        width: max-content;

        transform: translateX(-50%) scale(0);
        transform-origin: center top;
        left: 50%;
        top: 100%;
        margin: 0 auto;
        padding: 0 0.4em;
        border-radius: 4px;

        font-size: 16px;
        font-weight: 400;
        color: var(--dark);
        background-color: var(--lightish);
        opacity: 0;

        transition: color var(--tooltip-transition-time) linear,
        background-color var(--tooltip-transition-time) linear,
        opacity var(--tooltip-transition-time) linear var(--tooltip-delay),
        transform var(--tooltip-transition-time) linear var(--tooltip-delay);
    }

    &:hover::after,
    &:focus-visible::after {
        opacity: 0.7;
        transform: translateX(-50%) scale(1);
    }

    &.left::after {
        left: revert;
        right: 100%;
        top: 50%;
        transform: translateY(-50%) scale(0);
        transform-origin: right center;
        padding: 0.25em 0.5em;
    }

    &.left:hover::after,
    &.left:focus-visible::after {
        transform: translateY(-50%) scale(1);
    }
}


@for $i from 0 through 10 {
    .px-#{$i} {
        padding-left: #{$i}em;
        padding-right: #{$i}em;
    }
    .pl-#{$i} {
        padding-left: #{$i}em;
    }
    .pr-#{$i} {
        padding-right: #{$i}em;
    }
    .py-#{$i} {
        padding-top: #{$i}em;
        padding-bottom: #{$i}em;
    }
    .pt-#{$i} {
        padding-top: #{$i}em;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}em;
    }
}

@for $i from 1 through 10 {
    .font-weight-#{$i * 100} {
        font-weight: #{$i * 100} !important;
    }
}

.underlined {
    text-decoration: underline;
    text-decoration-thickness: from-font;

    &::selection {
        text-decoration: underline;
    }

    &.raised {
        text-underline-offset: -0.22em;
    }
}

.transform {
    @for $i from 0 through 20 {
        &.raise-#{$i} {
            transform: translateY(#{-$i * 0.125}em);
        }

        &.grow-#{$i} {
            transform: scale(#{$i * 0.25});
        }

        @for $j from 0 through 20 {
            &.grow-#{$i}.raise-#{$j} {
                transform: scale(#{$i * 0.25}) translateY(#{-$j * 0.125}em);
            }
        }
    }
    @media screen and (max-width: 480px) {
        @for $i from 0 through 20 {
            @for $j from 0 through 20 {
                &.grow-#{$i}.raise-#{$j} {
                }

                &.grow-m-#{$i}.raise-m-#{$j} {
                    transform: scale(#{$i * 0.25}) translateY(#{-$j * 0.125}em) !important;
                }
            }

            &.raise-#{$i} {
            }
            &.grow-#{$i} {
            }

            &.grow-m-#{$i} {
                transform: scale(#{$i * 0.5}) !important;
            }

            &.raise-m-#{$i} {
                transform: translateY(#{-$i * 0.125}em) !important;
            }
        }
    }

}

#theme-toggle {
    position: absolute;
    right: 0;
    top: 0.4rem;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    isolation: isolate;
    z-index: 1000;

    &:hover {
        cursor: pointer;
    }
}

.greeting {
    font-size: 2.25em;
    padding-bottom: 0.5em;
    letter-spacing: normal;
    font-weight: lighter !important;
    text-transform: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* ==================================================
   Separator Arrows
================================================== */

.arrow-separator {
    position: relative;
}

.arrow-separator:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
    z-index: 11;
}

.arrow-white:after {
    border-color: var(--light) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); /** Using RGB to remove dark line in Firefox **/
}

.arrow-theme:after {
    border-color: var(--primary) rgba(22, 160, 133, 0) rgba(22, 160, 133, 0) rgba(22, 160, 133, 0);
}

.arrow-themelight:after {
    border-color: var(--primary-light) rgba(26, 188, 156, 0) rgba(26, 188, 156, 0) rgba(26, 188, 156, 0);
}

.arrow-grey:after {
    border-color: var(--gray) rgba(238, 238, 238, 0) rgba(238, 238, 238, 0) rgba(238, 238, 238, 0);
}

/* ==================================================
   General Layout Styles
================================================== */

.full-padding {
    width: 100%;
    padding: 60px 30px;
    min-width: 280px;
}

.full-padding .bodycontainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.full-width {
    width: 100%;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    min-width: 280px;
}

.full-width .bodycontainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

#topcontainer h1 {
    padding: 6px 0 10px 0;
    margin-bottom: 0;
    letter-spacing: -1.5px;
    font-weight: 400;
}

#topcontainer h1 span {
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -1.4px;
    font-weight: 300;
}

#topcontainer p {
    margin-bottom: 0;
}

#topcontainer p span {
    font-size: 90px;
    line-height: 90px;
}

#countdown {
    color: var(--light);
}

#countdown #countdowncont {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

#countdown #countdowncont ul#countscript li {
    float: left;
    width: 25%;
    padding: 30px 0;
    margin: 0;
    list-style-type: none;
}

#countdown #countdowncont ul#countscript li span {
    font-size: 80px;
    line-height: 80px;
    font-weight: 300;
    color: var(--countdown-text);
}

#countdown #countdowncont ul#countscript li p {
    color: var(--countdown-text);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
}

#maincont {
    color: var(--light);
}

#maincont a {
    color: var(--light);
    opacity: 0.6;
}

#maincont a:hover {
    opacity: 1;
}

#maincont #signupform {
    margin: 0 auto 20px auto;
    width: 80%;
}

#footercont {
    position: relative;
    font-size: 18px;
}

.social-links ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

.social-links ul li a {
    font-size: 36px;
    color: var(--dark-gray);
}

.social-links ul li a:hover {
    color: var(--primary);
}

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */

@media screen and (max-width: 768px) {
    body {
        font-size: 23px;
        line-height: 29px;
    }

    #topcontainer h1 {
        font-size: 54px;
        line-height: 54px;
        letter-spacing: -1.2px;
    }

    #topcontainer h1 span {
        font-size: 70px;
        line-height: 70px;
    }

    #countdown #countdowncont {
        max-width: 400px;
    }

    #countdown #countdowncont ul#countscript li {
        width: 50%;
        padding: 10px 0;
    }

    #countdown #countdowncont ul#countscript li span {
        font-size: 70px;
        line-height: 70px;
    }

    #footercont {
        font-size: 19px;
    }

    #footercont #footerleft {
        float: none;
        padding: 30px 0;
        text-align: center;
    }

    #footercont .social-links ul li a {
        font-size: 32px;
    }

    #footercont #footerright {
        float: none;
    }
}

/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media screen and (max-width: 480px) {
    body {
        font-size: 21px;
        line-height: 27px;
    }

    #topcontainer h1 {
        font-size: 36px;
        line-height: 36px;
    }

    #topcontainer h1 span {
        font-size: 50px;
        line-height: 50px;
    }

    #countdown #countdowncont ul#countscript li {
        padding: 6px 0;
    }

    #countdown #countdowncont ul#countscript li span {
        font-size: 62px;
        line-height: 62px;
    }

    #countdown #countdowncont ul#countscript li p {
        font-size: 16px;
        line-height: 16px;
    }

    #footercont .social-links ul li {
        margin: 0 5px;
    }

    #footercont .social-links ul li a {
        font-size: 28px;
    }
}
