@use 'variables' as var;

@mixin light_vars {
    --primary-light: #{lighten(var.$primary, var.$primary_change_amount)};
    --primary-lighter: #{lighten(var.$primary, 2 * var.$primary_change_amount)};
    --primary: #{var.$primary};
    --primary-dark: #{darken(var.$primary, var.$primary_change_amount)};
    --primary-darker: #{darken(var.$primary, 2 * var.$primary_change_amount)};

    --lighter: hsl(0, 0%, 9%);
    --light: hsl(0, 0%, 13%);
    --lightish: hsl(0, 0%, 23%);
    --gray: hsl(0, 0%, 60%);
    --dark-gray: hsl(0, 0%, 93%);
    --dark: hsl(0, 0%, 100%);
    --darkish: hsl(0, 0%, 93%);
    --darker: hsl(0, 0%, 93%);
    --black: hsl(0, 0%, 100%);

    --unthemed-lighter: hsl(0, 0%, 93%);
    --unthemed-light: hsl(0, 0%, 100%);
    --unthemed-lightish: hsl(0, 0%, 93%);
    --unthemed-gray: hsl(0, 0%, 93%);
    --unthemed-dark-gray: hsl(0, 0%, 60%);
    --unthemed-dark: hsl(0, 0%, 13%);
    --unthemed-darker: hsl(0, 0%, 9%);
}

@mixin dark_vars {
    --primary-light: #{lighten(var.$primary, var.$primary_change_amount)};
    --primary-lighter: #{lighten(var.$primary, 2 * var.$primary_change_amount)};
    --primary: #{var.$primary};
    --primary-dark: #{darken(var.$primary, var.$primary_change_amount)};
    --primary-darker: #{darken(var.$primary, 2 * var.$primary_change_amount)};

    --lighter: hsl(0, 0%, 93%);
    --light: hsl(0, 0%, 100%);
    --lightish: hsl(0, 0%, 93%);
    --gray: hsl(0, 0%, 93%);
    --dark-gray: hsl(0, 0%, 60%);
    --darkish: hsl(0, 0%, 23%);
    --dark: hsl(0, 0%, 13%);
    --darker: hsl(0, 0%, 9%);
    --black: hsl(0, 0%, 0%);

    --unthemed-lighter: hsl(0, 0%, 93%);
    --unthemed-light: hsl(0, 0%, 100%);
    --unthemed-lightish: hsl(0, 0%, 93%);
    --unthemed-gray: hsl(0, 0%, 93%);
    --unthemed-dark-gray: hsl(0, 0%, 60%);
    --unthemed-dark: hsl(0, 0%, 13%);
    --unthemed-darker: hsl(0, 0%, 9%);
}

/* Theme */
.theme {
    // timings
    --transition-time: 250ms;
    --tooltip-transition-time: 100ms;
    --tooltip-delay: 75ms;
    --default-font-weight: 300;

    @include dark_vars;

    transition: color var(--transition-time) linear, background-color var(--transition-time) linear, border-bottom-color var(--transition-time) linear, border-left-color var(--transition-time) linear, border-top-color var(--transition-time) linear, border-right-color var(--transition-time) linear;

    // forced dark
    &.dark {
        @include dark_vars;
        --default-font-weight: 300;
    }

    // forced light
    &.light {
        @include light_vars;
        --default-font-weight: 400;
    }
}

@media (prefers-color-scheme: light) {
    .theme {
        @include light_vars;
        --default-font-weight: 400;
    }
}

$colors: (
        primary, primary-light, primary-dark, primary-lighter, primary-darker, lighter, light, lightish, gray, dark-gray, dark, darker,
        unthemed-lighter, unthemed-light, unthemed-lightish, unthemed-gray, unthemed-dark-gray, unthemed-dark, unthemed-darker
);

@each $color in $colors {
    .border-#{$color} {
        border-color: var(--#{$color});
    }

    .text-#{$color} {
        color: var(--#{$color});
    }

    .bg-#{$color} {
        background-color: var(--#{$color});
    }
}

//endregion
