/* Theme */
.theme {
  --transition-time: 250ms;
  --tooltip-transition-time: 100ms;
  --tooltip-delay: 75ms;
  --default-font-weight: 300;
  --primary-light: #0f97ff;
  --primary-lighter: #47afff;
  --primary: #0079d6;
  --primary-dark: #005a9e;
  --primary-darker: #003a66;
  --lighter: hsl(0, 0%, 93%);
  --light: hsl(0, 0%, 100%);
  --lightish: hsl(0, 0%, 93%);
  --gray: hsl(0, 0%, 93%);
  --dark-gray: hsl(0, 0%, 60%);
  --darkish: hsl(0, 0%, 23%);
  --dark: hsl(0, 0%, 13%);
  --darker: hsl(0, 0%, 9%);
  --black: hsl(0, 0%, 0%);
  --unthemed-lighter: hsl(0, 0%, 93%);
  --unthemed-light: hsl(0, 0%, 100%);
  --unthemed-lightish: hsl(0, 0%, 93%);
  --unthemed-gray: hsl(0, 0%, 93%);
  --unthemed-dark-gray: hsl(0, 0%, 60%);
  --unthemed-dark: hsl(0, 0%, 13%);
  --unthemed-darker: hsl(0, 0%, 9%);
  transition: color var(--transition-time) linear, background-color var(--transition-time) linear, border-bottom-color var(--transition-time) linear, border-left-color var(--transition-time) linear, border-top-color var(--transition-time) linear, border-right-color var(--transition-time) linear;
}
.theme.dark {
  --primary-light: #0f97ff;
  --primary-lighter: #47afff;
  --primary: #0079d6;
  --primary-dark: #005a9e;
  --primary-darker: #003a66;
  --lighter: hsl(0, 0%, 93%);
  --light: hsl(0, 0%, 100%);
  --lightish: hsl(0, 0%, 93%);
  --gray: hsl(0, 0%, 93%);
  --dark-gray: hsl(0, 0%, 60%);
  --darkish: hsl(0, 0%, 23%);
  --dark: hsl(0, 0%, 13%);
  --darker: hsl(0, 0%, 9%);
  --black: hsl(0, 0%, 0%);
  --unthemed-lighter: hsl(0, 0%, 93%);
  --unthemed-light: hsl(0, 0%, 100%);
  --unthemed-lightish: hsl(0, 0%, 93%);
  --unthemed-gray: hsl(0, 0%, 93%);
  --unthemed-dark-gray: hsl(0, 0%, 60%);
  --unthemed-dark: hsl(0, 0%, 13%);
  --unthemed-darker: hsl(0, 0%, 9%);
  --default-font-weight: 300;
}
.theme.light {
  --primary-light: #0f97ff;
  --primary-lighter: #47afff;
  --primary: #0079d6;
  --primary-dark: #005a9e;
  --primary-darker: #003a66;
  --lighter: hsl(0, 0%, 9%);
  --light: hsl(0, 0%, 13%);
  --lightish: hsl(0, 0%, 23%);
  --gray: hsl(0, 0%, 60%);
  --dark-gray: hsl(0, 0%, 93%);
  --dark: hsl(0, 0%, 100%);
  --darkish: hsl(0, 0%, 93%);
  --darker: hsl(0, 0%, 93%);
  --black: hsl(0, 0%, 100%);
  --unthemed-lighter: hsl(0, 0%, 93%);
  --unthemed-light: hsl(0, 0%, 100%);
  --unthemed-lightish: hsl(0, 0%, 93%);
  --unthemed-gray: hsl(0, 0%, 93%);
  --unthemed-dark-gray: hsl(0, 0%, 60%);
  --unthemed-dark: hsl(0, 0%, 13%);
  --unthemed-darker: hsl(0, 0%, 9%);
  --default-font-weight: 400;
}

@media (prefers-color-scheme: light) {
  .theme {
    --primary-light: #0f97ff;
    --primary-lighter: #47afff;
    --primary: #0079d6;
    --primary-dark: #005a9e;
    --primary-darker: #003a66;
    --lighter: hsl(0, 0%, 9%);
    --light: hsl(0, 0%, 13%);
    --lightish: hsl(0, 0%, 23%);
    --gray: hsl(0, 0%, 60%);
    --dark-gray: hsl(0, 0%, 93%);
    --dark: hsl(0, 0%, 100%);
    --darkish: hsl(0, 0%, 93%);
    --darker: hsl(0, 0%, 93%);
    --black: hsl(0, 0%, 100%);
    --unthemed-lighter: hsl(0, 0%, 93%);
    --unthemed-light: hsl(0, 0%, 100%);
    --unthemed-lightish: hsl(0, 0%, 93%);
    --unthemed-gray: hsl(0, 0%, 93%);
    --unthemed-dark-gray: hsl(0, 0%, 60%);
    --unthemed-dark: hsl(0, 0%, 13%);
    --unthemed-darker: hsl(0, 0%, 9%);
    --default-font-weight: 400;
  }
}

.text-primary {
  color: var(--primary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

/*# sourceMappingURL=theme.css.map */
